<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


        <!-- <bean id="alien1" class="org.springframeworkxmlbasedconfig.Alien" scope="prototype"></bean>
        <bean id="alien1" class="org.springframeworkxmlbasedconfig.Alien" scope="singleton"/>
        <bean id="alien2" class="org.springframeworkxmlbasedconfig.Alien"></bean>
        <bean id="lap" class="org.springframeworkxmlbasedconfig.Laptop"></bean>
        -->

    <bean id="alien1" class="org.springframeworkxmlbasedconfig.Alien" scope="prototype"></bean>
    <bean id="alien1" class="org.springframeworkxmlbasedconfig.Alien">
        <property name="age" value="28"></property>
<!--    So basically the moment we create the object spring will load this particular object and put that into container, but it will also assign the value which is 21, to a variable age.-->
    </bean>

</beans>

