<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Primary bean - As in 5th step we came to know that byType cannot work with both checks. It throws error which says expected single matching bean.
    But found two because both the beans are have the same type. They have laptop and desktop which are both of type of computer.that's the confusion
    Tp fix this we can mention primary = "true"-->
    <bean id="alien1" class="org.springframeworkxmlbasedconfig.Alien" autowire="byType">
        <property name="age" value="28"/>
<!--        But what if you are explicitly mentioning that I'm going to access desk obj. Even if you have by type which says primary is laptop, since you-->
<!--        are mentioning explicitly it will go for desktop.So primary works only when you have a confusion.-->
        <property name="comp" ref="desk"/>
    </bean>
        <bean id="comp" class="org.springframeworkxmlbasedconfig.Laptop" primary="true"/>
    <bean id="desk" class="org.springframeworkxmlbasedconfig.Desktop"/>
<!--    Compiling in Laptop...-->
    

</beans>
